{% extends "layout.html" %}
{% block content %}
  <!-- Form
  ================================================== -->
<div class="form">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Well done, Company {{ name }}.
                </h1>
                <p class="lead">
                    Number of Companies: {{ NshipComp }}
                </p>
                <p class="lead">
                    Number of Regulators: {{ Nregulator }}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}